*{
    padding:10px;
}
.main-component{
    background-color: blanchedalmond;
    border: 5px solid black;
    display: block;
    width: 90vw;
    height: 90vh;
    text-align: center;
}
.sub1{
    background-color: blanchedalmond;
    border: 3px solid red;
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.sub2{
    background-color: blanchedalmond;
    border: 1px solid black;
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.data{
    color: green;
    background-color: yellow;
}