/*Import google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width:50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    box-shadow: 1px 1px 2px 2px rgb(207, 207, 207);
    
}
.title{
    color: coral;
    padding: 10px;
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
}
.item-list{
    list-style: none;
    width: 100%;
    padding: 0;
}
.item-list li{
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 3px 1px rgb(196, 196, 196);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


.income{
    border-right: 5px solid green;
}
.outcome{
    border-right: 5px solid red;
}